.information  チャットグループが作成されました。

.chat-side
  .chat-side__user テスト
  .chat-side__user__new
    %a.fa.fa-pencil-square-o.icon
  .chat-side__user__config
    %i.fa.fa-cog.icon
  .chat-side__group
    .chat-side__group__name sampleグループ
    .chat-side__group__message testtesttest

.chat-main
  .chat-main__group
    %input.edit-btn{type: "submit", value: "edit"}
    .chat-main__group__name sample
    .chat-main__group__user ryousukemaehira
  .chat-main__body
    .chat-main__body__name ryousukemaehira
    .chat-main__body__name__timestamp 2016/10/12 06:27:14
    .chat-main__body__comment なるほど
    .chat-main__body__name ryousukemaehira
    .chat-main__body__name__timestamp 2016/10/12 06:27:14
    .chat-main__body__comment なるほど

  .chat-footer
    .chat-footer__form
      %i.fa.fa-image.chat-footer__icon
    %input.chat-footer__send-btn{type: 'submit', value: 'Send'}
