.chat-footer{
  height:90px;
  width: calc(100vw - 300px);
  bottom: 0px;
  float: right;
  background-color:$footer-background;
  padding-left: 30px;
  position: fixed;
  &__form{
    height:50px;
    width:calc(100% - 200px);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $white;
    margin-right:30px;
    display: inline-block;
  }
  &__send-btn{
    text-align: center;
    width: 100px;
    height: 50px;
    background-color:$botton-blue;
    border:none;
    color: $white;
    float:right;
    display: inline-block;
    margin-right: 60px;
    margin-top:20px;
  }
  &__icon{
    float: right;
    margin-top: 15px;
    margin-right: 10px;
  }
}
